:root {
  --menu-width: 188px;
  --fab-size: 2em;
  --anim-time: 500ms;
  --lime: #cfff00;
}

body {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
}

#frame {
  position: absolute;
  left: 0;
  top: 0;
  border: none;
  width: 100%;
  height: 100%;
  transition: margin var(--anim-time);
}
#frame.loaded {
  width: calc(100% + var(--menu-width));
  margin-left: calc(var(--menu-width) * -1);
}
#frame.with-menu {
  margin-left: 0;
}

#fab {
  opacity: 0;
  position: absolute;
  left: calc(var(--fab-size) - 1rem);
  transform: translateX(-50%);
  z-index: 10;
  bottom: 1rem;
  width: var(--fab-size);
  height: var(--fab-size);
  background-color: black;
  color: white;
  line-height: var(--fab-size);
  text-align: center;
  font-size: 2em;
  transition-property: opacity, left;
  transition-duration: var(--anim-time);
  user-select: none;
}
#fab.right {
  left: calc(100% - var(--fab-size) + 1rem);
}

#caption {
  z-index: 5;
  position: absolute;
  text-align: center;
  width: 100%;
  font-size: 2em;
  mix-blend-mode: unset;
  top: 50%;
  background-color: black;
  color: var(--lime);
}
#caption.loaded {
  font-size: 0.5em;
  mix-blend-mode: difference;
  color: white;
  top: 0;
  transition-duration: var(--anim-time);
  transition-property: top, font-size;
}
