$menu-width: 188px;
$fab-size: 4rem;
$fab-horizontal-margin: 1rem;
$anim-time: 500ms;
$lime: #cfff00;

html {
  overflow: hidden;
}

body,
.frame,
.fab,
.caption {
  position: absolute;
}

body {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
}

.frame {
  left: 0;
  top: 0;
  border: none;
  width: 100%;
  height: 100%;
  transition: margin $anim-time;

  body.loaded & {
    width: calc(100% + #{$menu-width});
    margin-left: calc(#{$menu-width} * -1);
  }

  body.menu-opened & {
    margin-left: 0;
  }
}

.fab {
  left: $fab-horizontal-margin;
  body.menu-opened & {
    left: calc(100% - #{$fab-size} - #{$fab-horizontal-margin});
  }

  bottom: 1rem;
  z-index: 10;
  width: $fab-size;
  height: $fab-size;
  background-color: black;
  transition: left $anim-time, opacity 5000ms;
  background-image: url('../favicon.svg');
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;

  body:not(.loaded) & {
    visibility: hidden;
    opacity: 1;
  }

  opacity: 5%;
  &:hover {
    opacity: 1;
    transition: left $anim-time, opacity $anim-time;
  }
}

.caption {
  z-index: 5;
  text-align: center;
  width: 100%;
  font-size: 2em;
  top: 50%;
  background-color: black;
  color: $lime;
  text-decoration: none;
  cursor: auto;

  br {
    display: none;
  }

  body.loaded & {
    font-size: 0.5em;
    cursor: pointer;
    mix-blend-mode: difference;
    color: white;
    top: 0;
    transition-duration: $anim-time;
    transition-property: top, font-size;
  }
}
